body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Hide horizontal scrollbar on small screens */
    transition: 0.5s;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 0;
    }

    #main {
        margin-left: 0;
    }

    .open-btn {
        display: block;
    }

    .open-btn.hide {
        display: none;
    }

    .sidenav {
        top: 0;
        left: 0;
    }
}
