body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #dfe4ea;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #495057;
}

.sidenav .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #dfe4ea;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.open-btn {
    font-size: 30px;
    cursor: pointer;
    color: #dfe4ea;
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open-btn:hover {
    background-color: #495057;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 0;
    }

    #main {
        margin-left: 0;
    }

    .open-btn {
        display: block;
    }

    .open-btn.hide {
        display: none;
    }

    .sidenav {
        top: 0;
        left: 0;
    }
}
