body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#mySidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar on small screens */
    transition: 0.5s;
}

#mySidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidenav a:hover {
    color: #f1f1f1;
}

#main {
    margin-left: 250px; /* Set the margin to the width of the sidebar */
    padding: 16px;
    transition: margin-left 0.5s;
}

@media screen and (max-width: 768px) {
    #mySidenav {
        width: 0;
    }

    #main {
        margin-left: 0;
    }
}

@media screen and (max-height: 450px) {
    #mySidenav { padding-top: 15px; }
    #mySidenav a { font-size: 16px; }
}
